<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helmet Detection</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <nav>
        <div class="logo">
            <a href="#">Helmet Detection</a>
        </div>
    </nav>
    <section  class="home" id="home">
        <div class="home-text">
            <h1>Helmet Detection</h1>
            <h2>ตรวจผู้สวมใส่หมวกกันน็อค ด้วย AI</h2>
            <div class="btn-container">
                <div class="btn">
                    <h2>Upload an Image</h2>
                    <form class="btn-1" action="/upload_image" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" accept="image/*"/>
                        <input type="submit" value="Upload">
                    </form>
                </div>
                <div class="btn">
                    <h2>Upload a Video</h2>
                    <form class="btn-1" action="/upload_video" method="POST" enctype="multipart/form-data">
                        <input type="file" name="file" accept="video/*" />
                        <input type="submit" value="Upload">
                    </form>
                </div>
                <div class="btn">
                    <h2>Webcam Detection</h2>
                    <form class="btn-1" href="/webcam">
                        <input type="submit" value="webcam">
                    </form>
                </div>
            </div>
            

        </div>
        <div class="home-img">
            <video width="100%" autoplay loop muted>
                <source src="images/450596137_3785505721772666_8967117101057399585_n.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            
        </div>
        
    </section>

    <section class="how-to-use" id="How-to-use">
    <div class="how-to-use-heading">
        <h1>วิธีการใช้งาน</h1>
        <h2>ตรวจจับผู้สวมใส่หมวกกันน็อค ด้วย AI Machine Learning YOLOv8</h2>
        <p>เป็นไลบรารีโอเพ่นซอร์สสำหรับการตรวจจับวัตถุ (object detection) เหมาะสำหรับการพัฒนาระบบตรวจจับหมวกกันน็อก YOLOv8 ทำงานได้รวดเร็วและแม่นยำ ใช้งานง่าย และสามารถปรับแต่งโมเดลให้เหมาะกับงานเฉพาะได้</p>
    </div>
    <div class="how-to-use-content">
        <div class="how-to-use-boxes">
            <div class="box" id="upload-box">
                <i class='bx bxs-cloud-download'></i>
                <div class="how-to-use-text">
                    <h1>อัปโหลดรูปภาพ</h1>
                    <p>คลิกอัปโหลดหรือลากรูปภาพที่คุณต้องการลงในช่องอัปโหลด</p>
                </div>
            </div>
            <div class="box" id="ai-detect-box">
                <i class='bx bx-radar'></i>
                <div class="how-to-use-text">
                    <h1>AI ตรวจจับ</h1>
                    <p>AI จะทำการตรวจผู้ไม่สวมใส่หมวกกันน็อค</p>
                </div>
            </div>
        </div>
        <div class="how-to-use-img">
            <img id="dynamic-image" src="images/Screenshot 2024-07-30 235159.png" alt="AI Helmet Detection">
        </div>
    </div>
</section>












    
    <script src="script.js"></script>.
</body>
</html>